<%@ page language="java" pageEncoding="utf-8" contentType="text/html;charset=utf-8"%>
<%@ page import="java.util.*, com.uniinformation.utils.*,com.uniinformation.webcore.* " %>
<%
response.setHeader("Cache-Control", "no-cache, no-store, must-revalidate"); // HTTP 1.1.
response.setHeader("Pragma", "no-cache"); // HTTP 1.0.
response.setHeader("Expires", "0"); // Proxies.

try {	
	SessionHelper sessionHelper = ZkSessionHelper.getSessionHelper(request, response);   
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
 -->
<title><%=sessionHelper.getWebPageTitle()%></title>
<style>
    .bottom-div {
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       background-color: #333;
       color: white;
       text-align: center;
       padding: 10px;
    }
</style>
</head>
<body>
<% if(sessionHelper.isLogin()) { %>
	<jsp:include page='zkf/vincero/ZkFormForexTrade.zul' flush="true" />
<% } else { %>	
	<jsp:include page='zkf/propertymgmt/DeviceLogin.zul' flush="true" />
<% } %>	
</body>
</html>
<%
} catch(Exception ex) {
	UniLog.log(ex);
	out.println("<br/><span class='red'>System Error. Please try again later.</span>");
	//throw(ex);
}
%>
